* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('https://www.transparenttextures.com/patterns/asfalt-dark.png');
    background-color: #f4f4f4;
}

h1 {
    font-size: 3rem;
    color: #333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}